body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Agrega un borde redondeado al contenedor */
}

header {
    text-align: center;
}

h1 {
    color: #e74c3c;
    font-size: 28px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); /* Agrega sombra al título */
}

main {
    padding: 20px;
    text-align: justify;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.corazon {
    position: fixed;
    background-color: red;
    clip-path: polygon(50% 0%, 61.8% 35.4%, 95.1% 39.2%, 68.2% 63.3%, 79.1% 95.1%, 50% 78.8%, 20.9% 95.1%, 31.8% 63.3%, 5% 39.2%, 38.2% 35.4%);
    transform: rotate(45deg);
    animation: corazones 5s linear;
    opacity: 0.7;
    z-index: -1;
}

@keyframes corazones {
    0% {
        transform: rotate(45deg) scale(1);
        opacity: 0.7;
    }
    100% {
        transform: rotate(45deg) scale(1.5);
        opacity: 0;
    }
}


/* Estilos para la imagen */
img {
    display: block;
    margin: 20px auto; /* Centra la imagen horizontalmente */
    border: 3px solid #e74c3c; /* Agrega un borde rojo alrededor de la imagen */
    border-radius: 10px; /* Agrega un borde redondeado a la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra a la imagen */
    max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor */
}
